# Environment variables
export SAIL=/home/em-student/tools/riscv-sail/c_emulator/riscv_sim_RV64
export SPIKE=$PWD/Fuzzer/ISASim/riscv-isa-sim/build/spike
export PYTHONPATH=$PWD/Fuzzer:$PWD/Fuzzer/src:$PWD/Fuzzer/RTLSim/src:$PYTHONPATH
layout python3
